$header-primary-color-main: #131921;

$home-primary-color-main: #eaeded;
$home-secondary-color-main: #ffffff;

$footer-primary-color-main: #232f3e;
$footer-primary-color-light: #485769;

$secondary-color-main: #f1c55a;
$secondary-color-light: #f0c459;
$secondary-color-dark: #ff794a;

$background-color-light: #fff;

$text-color: #fff;
$text-color-grey: #918382;
$text-color-blue: #0167c0;
$text-color-red: #b12705;

$button-color: #f1c964;
$button-border: #a88733;
