.footer {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  background-color: #232f3e;
  height: max-content;

  &__container {
    display: flex;
    flex-wrap: wrap;
    height: max-content;
    padding: 40px;
    justify-content: center;
    align-items: center;
  }

  &__box {
    min-width: 300px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;

    & > img {
      width: 150px;
      object-fit: contain;
    }
  }

  &__info > h4 {
    border-bottom: 1px solid rgba(33, 190, 238, 0.3);
    padding-bottom: 2px;
    width: max-content;
  }

  &__info > p {
    margin-top: 10px;
    font-size: 14px;
  }

  &__Back-To-Top {
    text-align: center;
    padding: 16px;
    font-size: 12px;
    color: white;
    background-color: #485769;
  }
}

@media only screen and (max-width: 980px) {
  .footer__container {
    flex-wrap: wrap;
  }
}

@media only screen and (min-width: 981px) {
  .footer__container {
    flex-wrap: nowrap;
  }
  .footer__box {
    flex: 1;
    min-width: unset;
  }
}

@media only screen and (max-width: 679px) {
  .footer__box {
    flex: 1;
    min-width: 200px;
    margin-top: 20px;
  }
}

@media only screen and (max-width: 504px) {
  .footer__box {
    min-width: 100%;
    margin-top: 20px;
  }
  .footer__info > h4,
  p {
    text-align: center;
    width: unset;
  }
}
